body{
    background-color:gray;
    font-size: 35px;
    margin:0 ;
    padding: 44px 16px;
    overflow-x: visible;
    overflow-y: scroll;
    /* overflow: hidden; */
}
.topnav a {
    float: left;
    color: #2913EB;
    text-align: center;
    padding: 90px 90px;
    text-decoration: none;
    font-size:50px;
    margin-left: 9%;
    display: flex;
}
.topnav a:hover {
    color:black;
    height:5%;
    /* width: 30%; */
    background-color: rgb(23, 8, 235);
}
/* p{
    padding: 10px;
    /* text-align: center; */
} */
h2,ul{
    text-align: center;
    font-weight:1000;
}
.home{
    text-align: center;
    font-weight: 1000;
    font-style: italic;
}
.topnav{
    overflow: hidden;
}
/* *{
    overflow: hidden;
} */
/* .images{
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
} */
h4{
text-align: center;
}
/* 
img{
    width: 100%;
    height: 1%;
    margin-bottom: 10px;
}

.img{
    widows: 50%;
    height: 40%; */
}
.mens{
    float: left;
   flex-wrap: row-reverse;
   justify-content: space-between;
   text-align: center;
   display: flex;
   flex-wrap: nowrap;
}
}
.childrens{
    float: left;
   flex-wrap: row-reverse;
   justify-content: space-between;
   text-align: center;
   display: flex;
   flex-wrap: nowrap;
}
.ladies{
   float: left;
   flex-wrap: row-reverse;
   justify-content: space-between;
   text-align: center;
   display: flex;
   flex-wrap: nowrap;
   
}
header{
    background-color: purple;
}